<?xml version="1.0"?>
<robot name="Kumara" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/kumara</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:include filename="$(find kumara_description)/urdf/kumara_properties.xacro" />
    <xacro:include filename="$(find kumara_description)/urdf/kumara_base.gazebo" />

    <!-- ARM -->
    <xacro:include filename="$(find kumara_description)/urdf/kumara_arm.xacro" />\

    <!-- UTILITIES -->
    <xacro:include filename="$(find kumara_description)/urdf/planar_joint.xacro" />

    <!-- COMPONENTS -->
    <xacro:kumaraRA parent = "chassis"/>
    <xacro:planar_joint prefix = "base" parent = "world" child = "base_footprint"/>

    <link name="world"/>

    <link name="base_footprint"/>

    <link name="chassis">
        <collision> 
			<origin xyz="0 0 -${0.23/2}"/> 
			<geometry> 
				<box size = "${BASE_LENGTH} ${BASE_WIDTH} ${BASE_HEIGHT}"/>
			</geometry> 
		</collision>
		<inertial>
            <origin xyz="0 0 -0.06"/>
			<mass value = "28"/>
			<inertia ixx = "0.89" iyy = "1.1" izz = "1.64" ixy = "0" ixz = "0" iyz = "0"/>
		</inertial>
        <visual>
            <geometry>
                <mesh filename="package://kumara_description/meshes/base/kumaraBaseV2.STL" scale="1 1 1"/>
            </geometry>
        </visual>
    </link>

    <joint name="base_footprint_to_chassis" type="fixed">
        <parent link="base_footprint"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${BASE_HEIGHT}"/>
    </joint>

</robot>